# Node.js
node_modules/

# Next.js build
.next/

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment variables
.env

# Log files
*.log

# Dependency directories
pnpm-lock.yaml
yarn-error.log

# Compiled output
out/
build/
dist/

# Editor-specific files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Package files
*.jar
*.war
*.ear
*.db
*.sqlite
*.sqlitedb
*.hprof
*.pyc
*.pyo
*.pyd
*.dll
*.exe
*.log
*.iws
*.iml
*.ipr
*.iws
.idea/
.gradle/
.DS_Store
.venv/
__pycache__/
.db.sqlite3
