.mainContainer {
  margin-left: 31%;
  display: grid;
  grid-template-columns: 47% auto;
}
.dp {
  width: 44px;
  border-radius: 22px;
}
.middleDiv {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topDiv {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 7px 10px;
}
.topDiv h3 {
  font-size: 1.3rem;
  color: rgb(231, 233, 234);
  margin-bottom: 3px;
}
.topDiv p {
  color: rgb(108, 112, 117);
  font-size: 0.9rem;
}
.topDiv > Div {
  cursor: pointer;
}
.arrowBackHomeDiv {
  padding: 13px;
  height: 43px;
}
.arrowBackHomeDiv:hover {
  cursor: pointer;
  background-color: rgb(22, 24, 28);
  border-radius: 40px;
}
.grayText {
  color: gray;
}
.boldWhiteText {
  font-weight: bold;
  color: white;
}

/* DP and Cover Photo */
.dpCoverDiv {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.coverPhotoDiv {
  height: 200px;
  background-color: rgb(51, 54, 57);
  overflow-y: hidden;
}
.coverPhotoDiv img {
  width: 100%;
}
.profileDPDiv {
  height: 80px;
  display: flex;
  justify-content: space-between;
}
.profileDP {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 4px solid black;
  position: relative;
  top: -70px;
  margin-left: 20px;
}
.btnEditProfileDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btnEditProfile {
  border: 1px rgb(94, 100, 106) solid;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: auto;
  font-size: 0.9rem;
  font-weight: bold;
}
.btnEditProfile:hover {
  cursor: pointer;
}

/* Profile Info */
.profileInfoDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: flex-start;
  padding: 16px;
}
.profileInfoDiv h3 {
  font-size: 1.3rem;
}
.bio {
  margin-top: 8px;
  margin-bottom: 5px;
}

/* Create Post Div  */
.createPostDiv {
  padding: 15px 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 10% 90%;
  border-bottom: 1px solid var(--border-color);
}

.postForm {
  padding-left: 5px;
  padding-top: 10px;
}
.postForm input {
  background-color: black;
  border: none;
  color: aliceblue;
  font-size: 1.4rem;
  width: 100%;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
}
.postPrivacyDiv {
  display: flex;
  color: var(--primary-color);
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border-color);
  margin-top: 5px;
  margin-bottom: 15px;
}
.mediaElementDiv {
  display: flex;
  justify-content: space-between;
}
.elementsDiv {
  display: flex;
  gap: 8px;
  color: var(--primary-color);
  font-size: 1.5rem;
}
.elementsDiv:hover {
  cursor: pointer;
}
.elementsDiv label:hover {
  cursor: pointer;
}
.btnPostsPost {
  background-color: var(--primary-color);
  border: none;
  padding: 8px 16px 6px 16px;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}
.btnPostsPost:hover {
  cursor: pointer;
}
.btnPostsPost:disabled {
  background-color: rgb(15, 78, 120);
  color: rgb(128, 128, 128);
}
.uploadedImage {
  width: 90%;
}

/* Tabs */
.tabs {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--border-color);
  padding: 0 15px;
}

.tab {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 1rem;
  outline: none;
  transition: color 0.3s;
  font-weight: bold;
  color: gray;
  padding-bottom: 10px;
}
.activeTab {
  color: white;
  border-bottom: 5px solid var(--primary-color);
}
