.mainContainer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainContainer button {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 30px;
  justify-self: center;
  margin-bottom: 20px;
  border-radius: 8px;
  color: white;
  background-color: var(--primary-color);
  height: 30px;
  border: none;
  font-size: 1.1rem;
}
