/* Posts */
.postCard {
  width: 100%;
  padding: 15px 20px 15px 20px;
  border-bottom: 1px solid var(--border-color);
  display: grid;
  grid-template-columns: 10% 90%;
  position: relative;
}
.dpDiv {
  margin-top: 0px;
}
.dp {
  width: 44px;
  border-radius: 22px;
}
.postContentDiv {
  display: flex;
  flex-direction: column;
  padding-top: 3px;
  color: gray;
}
.postContentDiv a {
  margin-bottom: 8px;
  display: inline-block;
}
.postInfoDiv {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}
.postInfoDiv a,
.postInfoDiv p {
  display: inline-block;
  color: white;
}
.postInfoDiv a {
  font-weight: bold;
  margin-right: 7px;
}
.postInfoDiv a:hover {
  text-decoration: underline;
}
.postInfoDiv p {
  font-weight: normal;
  color: gray;
  margin-right: 0px;
}
.postOptionsDiv {
  left: 35rem;
  position: absolute;
}
.postOptions {
  color: gray;
  padding: 15px 15px 10px 15px;
  border-radius: 50%;
  font-size: 1.1rem;
}
.postOptions:hover {
  cursor: pointer;
  background-color: rgb(22, 24, 28);
  color: var(--primary-color);
}

/* DropDown */
.dropdown {
  display: flex;
  gap: 10px;
  flex-direction: column;
  position: absolute;
  top: 100%;
  width: 350%;
  right: 0;
  background-color: rgb(22, 24, 28);
  border: 1px solid rgba(109, 132, 169, 0.274);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 0px 10px rgba(182, 200, 229, 0.222);
}
.dropdown .deletePost {
  color: rgb(244, 33, 46);
  display: flex;
  gap: 10px;
}
.dropdown p {
  cursor: pointer;
  padding: 5px;
  color: white;
  font-weight: bold;
}
.postStyle {
  color: white;
  font-size: 1rem;
}
.hashtag {
  color: var(--primary-color);
}
.hashtag:hover {
  text-decoration: underline;
  cursor: pointer;
}
.postElementDiv {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  color: gray;
}
.postElementDiv > *:hover {
  cursor: pointer;
}
.postElementDiv > *:nth-child(1):hover {
  color: var(--primary-color);
}
.postElementDiv > *:nth-child(2) {
  font-size: 1.4rem;
}
.postElementDiv > *:nth-child(2):hover {
  color: rgb(54, 180, 54);
}
.postElementDiv > *:nth-child(3):hover {
  color: rgb(249, 24, 128);
  font-weight: 600;
}
.postElementDiv > *:nth-child(4) {
  font-size: 1.3rem;
}
.postElementDiv > *:nth-child(4):hover {
  color: var(--primary-color);
  font-weight: bold;
}
.postElementDiv > *:nth-child(5):hover {
  color: var(--primary-color);
  font-weight: bold;
}
.elapsedTImeStyle {
  font-size: 1rem;
}
.postImage {
  margin-top: 10px;
  width: 100%;
  border-radius: 15px;
}
.postImage:hover {
  cursor: pointer;
}
.likesDiv {
  display: flex;
  gap: 3px;
}
.likesDiv p {
  font-size: 1rem;
}
.likedColor {
  color: rgb(249, 24, 128);
}
